<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "./public/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <title>Pokedex</title>
</head>
<body>
  <div>
    <h1>Pokedex</h1>
    <button><a href="http://localhost:3000/">Click to not view the Pokedex</a></button>
    <table>
      <tr>
        <th>ID Number</th>
        <th>Name</th>
        <th>Type</th>
        <th>Base HP</th>
        <th>Base Attack</th>
        <th>Base Defense</th>
      </tr>
      <% pokedex.forEach(pokemon => { %>
        <tr>
          <td><%= pokemon.id %></td>
          <td><%= pokemon.name.english %></td>
          <td><%= pokemon.type %> </td>
          <td><%= pokemon.base.HP %></td>
          <td><%= pokemon.base.Attack %></td>
          <td><%= pokemon.base.Defense %></td>
        </tr>
      <% }); %> 
      </table>
  </div>
</body>
</html>